/* body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  color: #3D3D3D;
  background-color: #f4f4f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  font-style: italic;
  color: #FF6F00;
}

h2 {
  clear: both;
}

em {
  font-weight: bold;
} */

video {
  display: block;
  clear: both;
  transform: scaleX(-1); /* Flip the video horizontally */
}

section {
  opacity: 1;
  transition: opacity 500ms ease-in-out;
}

header, footer {
  clear: both;
}

button {
  z-index: 1000;
  position: relative;
}

.removed {
  display: none;
}

.invisible {
  opacity: 0.2;
}

.webcam {
  position: relative;
  
}

.webcam {
  position: relative;
  float: left;
  width: 48%;
  margin: 2% 1%;
  cursor: pointer;
}

.webcam canvas.overlay {
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;/* 
  width: 100%;
  height: 100%; */
  transform: scaleX(-1);
}

.color-picker-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  height: 60px;
}

#colorPicker {
  margin-left: 20px;
  border-radius: 50%;
  border-color: blue;
  width: 30px;
  /* border: none; */

}

#label {
  font-size: 18px;
}

#demos{

  margin-left: 30%;
}
