body {
    font-family: helvetica, arial, sans-serif;
    margin: 2em;
    color: #3D3D3D;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  h1 {
    font-style: italic;
    color: #FF6F00;
  }
  
  h2 {
    clear: both;
  }
  
  em {
    font-weight: bold;
  }
  
  video {
    display: block;
    margin: 0 auto;
    transform: scaleX(-1);
  }
  
  section {
    opacity: 1;
    transition: opacity 500ms ease-in-out;
  }
  
  header, footer {
    clear: both;
  }
  
  button {
    z-index: 1000;
    position: relative;
  }
  
  .removed {
    display: none;
  }
  
  .invisible {
    opacity: 0.2;
  }
  
  .webcam {
    position: relative;
    text-align: center;
  }
  
  .webcam canvas.overlay {
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }
  
  .color-picker-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  #colorPicker {
    margin-left: 10px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    padding: 10px 10px;
    border: 2px solid pink;
  }
  
  #label {
    font-size: 18px;
  }
  